body {
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?dpr=2&fit=crop&fm=jpg&h=775&q=50&w=1450);
    background-size: cover;
    background-position: center; 
}
/*7. background ambil di unsplash. open; right click; copy image url.  */

body,
html {
    width: 100%;
    /*divid gak pakai width*/
    height: 100%;
    font-family: "Lato";
    color: white;
}
/*10. font family di body(yg html tdk ada di vid)
taruh warna putih h1 dan h3 di body (tdk akan mengubah 
warna di button/navbar. karena selector lbh specifik di bootsrap).*/
/*11. html height 100%. agar saat dikecilkan ukuran tetap sama*/


h1 {
	font-weight: 700;
	font-size: 5em;
}
/*11.bold dan perbesar*/


.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
/*6. center; padding.*/
/*16 text shadow, (untuk lihat penggunaannya, ganti 3rgba jd red orange yellow)*/

hr {
    width: 45%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*12. kecilkan width; pakai border untuk buat shadow(gk terlalu keliatan) */
/*ganti width 400px menjd % untuk mobile responsive ganti jd 45%*/